In [2]:
import pandas as pd

In [4]:
df_original = pd.read_csv (r"../../data/RAW/individuals-using-the-internet_1733842191873.csv")

df = df_original.copy()

df.head()

,seriesID,seriesCode,seriesName,seriesParent,seriesUnits,entityID,entityIso,entityName,dataValue,dataYear,dataNote,dataSource,seriesDescription
0,11624,i99H,Individuals using the Internet,NaN,%,4,ABW,Aruba,15.4428,2000,NaN,Servicio di Telecomunicacion di Aruba (SETAR).,Refers to the proportion of individuals who us...
1,11624,i99H,Individuals using the Internet,NaN,%,4,ABW,Aruba,17.1000,2001,NaN,ITU estimate.,Refers to the proportion of individuals who us...
2,11624,i99H,Individuals using the Internet,NaN,%,4,ABW,Aruba,18.8000,2002,NaN,ITU estimate.,Refers to the proportion of individuals who us...
3,11624,i99H,Individuals using the Internet,NaN,%,4,ABW,Aruba,20.8000,2003,NaN,ITU estimate.,Refers to the proportion of individuals who us...
4,11624,i99H,Individuals using the Internet,NaN,%,4,ABW,Aruba,23.0000,2004,NaN,ITU estimate.,Refers to the proportion of individuals who us...

In [19]:
df = df[df["dataYear"].isin(range(2020, 2024))]

In [20]:
df

,seriesID,seriesCode,seriesName,seriesParent,seriesUnits,entityID,entityIso,entityName,dataValue,dataYear,dataNote,dataSource,seriesDescription
57,11624,i99H,Individuals using the Internet,NaN,%,7,ZAF,South Africa,72.11280,2020,NaN,ITU estimate.,Refers to the proportion of individuals who us...
58,11624,i99H,Individuals using the Internet,NaN,%,7,ZAF,South Africa,74.15340,2021,NaN,ITU estimate.,Refers to the proportion of individuals who us...
59,11624,i99H,Individuals using the Internet,NaN,%,7,ZAF,South Africa,74.70300,2022,NaN,ITU estimate.,Refers to the proportion of individuals who us...
80,11624,i99H,Individuals using the Internet,NaN,%,8,AGO,Angola,36.63470,2020,NaN,ITU estimate.,Refers to the proportion of individuals who us...
81,11624,i99H,Individuals using the Internet,NaN,%,8,AGO,Angola,37.80670,2021,NaN,ITU estimate.,Refers to the proportion of individuals who us...
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4759,11624,i99H,Individuals using the Internet,NaN,%,316,MNE,Montenegro,82.21970,2021,NaN,Statistical Office of Montenegro - MONSTAT,Refers to the proportion of individuals who us...
4760,11624,i99H,Individuals using the Internet,NaN,%,316,MNE,Montenegro,88.22190,2022,NaN,Statistical Office of Montenegro - MONSTAT,Refers to the proportion of individuals who us...
4770,11624,i99H,Individuals using the Internet,NaN,%,321,SSD,South Sudan,9.27123,2020,NaN,ITU estimate.,Refers to the proportion of individuals who us...
4771,11624,i99H,Individuals using the Internet,NaN,%,321,SSD,South Sudan,9.64241,2021,NaN,ITU estimate.,Refers to the proportion of individuals who us...
4772,11624,i99H,Individuals using the Internet,NaN,%,321,SSD,South Sudan,12.14070,2022,NaN,ITU estimate.,Refers to the proportion of individuals who us...